[class^="el-icon-ali"], [class*="el-icon-ali"] {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ml-5{
    margin-left: 5px;
  }
  .mr-5{
    margin-right: 5px;
  }
  .pd-10{
    padding: 10px 0;
  }